@import url('fonts/GoogleSans-Regular.ttf');

body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    list-style-type: none;  
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

  @keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
   } 
  } 
  .autocomplete {
    position: relative;
  }
  .autocomplete-items {
    cursor: pointer;
  }
  .autocomplete-items:hover {
    background-color: #c8c8c8;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  .dark-mode {
    height: 25px;
    width: 25px;
  }
  li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
  }
  li a:hover {
    text-decoration: underline;
  }
  .apps{
    height:23px;
    position:relative;
    bottom:7px;
    background: none;
    border-radius: 15px;
    padding: 5px;
    transition: 0.2s ease;
    right: 3px;
  }
  .apps:hover {
      background-color: #e9e9e9;
      padding: 5px;
  }
  .signinbutton{
    background-color: #4885ed;
    color: #fff;
    border:none;
    border-radius:3px;
    padding:7px 10px;
    position:relative;
    bottom:7px;
    font-weight:bold;
    margin-right: 10px;
    margin-top: 7.5px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  .signinbutton:hover {
      text-decoration: none;
      background-color: #6295ec;
  }
  
  .logo{
      margin-top: 50px;
      margin-bottom: 10px;
  }
  .bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    transition: 0.2s ease;
    position: inline;
  }
  form {
    position: inline;
    margin: 0;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
    /* width: 600px; */
  }
  .searchmain {
    max-width: 80vw;
    min-width: 80vw;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    font-family: 'Google Sans', sans-serif;
  }

  .buttons{
    margin-top:30px;
  }
  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Google Sans', sans-serif;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  
  .icon {
      top:5px;
      left:10px;
      display: flex;
      position: relative;
      height: 35px;
      justify-content: space-between;
      float: left;
  }
  
  .right{
      float: right;
      padding: 6px 12px;
  }
  
  .left{
      float: left;
      padding: 6px 12px ;
      color: #808080;
  }
  .left, .right {
      display: inline;  
      font-size: 20px;
      color: #808080;
  }
  .footer{
      display: inline-block;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #f2f2f2;
      height: 50px;
      color: #808080;
  }
