@import url('./global.css');

body {
  font-family: 'Inter', 'Helvetica', 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;

  .apps {
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: 50%;
    background: none;
    transition: 0.2s ease;

    &:hover {
      background-color: var(--element-background-color-hover);
      padding: 5px;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}

.logo {
  width: 358px;
  max-width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;

  .buttons {
    margin-top: 30px;
  }

  .button {
    background-color: var(--element-background-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: var(--element-background-color-hover);
    }

    &:focus {
      padding: 9px 19px;
    }
  }
}

@media (max-width: 570px) {
  main {
    width: calc(100vw - 20px);

    .searchBar {
      width: 100%;

      form .input {
        width: 100%;
      }
    }
  }
}